body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('../images/top_bg.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Navigation Tab Styles */
.Navigation_tab {
    margin: 0;
    display: flex;
    position: fixed; /* keep navigation visible when scrolling */
    top: 15px;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 1000;
}

.Navigation_tab_list {
    display: flex;
    list-style-type: none;
    border: 2px solid #040015;
    width: fit-content;
    border-radius: 20px;
    background-color: #f3f2f2;
    padding: 10px;
    gap: 15px;
}

.Navigation_tab_list li {
    margin: 0;
}

.Navigation_tab_list li button {
    color: #040015;
    background-color: #f3f2f2;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 20px;
    transition: all 0.2s ease;
}

.Navigation_tab_list li button:hover {
    background-color: #040015;
    color: #f3f2f2;
    transform: translateY(-2px);
}

.Navigation_tab_list li button:active {
    transform: translateY(0);
}

.Navigation_tab{
    transition:all .6s ease;
}
/* Search Box Styles */

.search-box{
    position:fixed;
    top:80px;
    right:50%;
    transform:translateX(50%) scale(0.8);
    opacity:0;
    pointer-events:none;
    background:#f3f2f2;
    border:4px solid #040015;
    border-radius:25px;
    padding:12px 16px;
    display:flex;
    align-items:center;
    gap:10px;
    z-index:1001;
    transition:all 0.25s ease;
}


.search-box.active{
    opacity:1;
    transform:translateX(50%) scale(1);
    pointer-events:auto;
}

.search-inner{
    display:flex;
    align-items:center;
    gap:10px;
}

.search-inner i{
    font-size:18px;
    color:#040015;
    transition:transform 0.2s ease;
}

.search-box input{
    border:none;
    outline:none;
    font-size:16px;
    background:transparent;
    width:0;
    opacity:0;
    transition:all 0.3s ease;
}

.search-box.active input{
    width:200px;
    opacity:1;
}


/* First Main Content */
.Main_content{
    background-color: #f3f2f2;
    border: 5px solid #040015;
    padding: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
    display: block;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 50;
}


.Main_content h1 {
    align-items: center;
    font-size: 48px;
    color: #040015;
}


.Main_content_BTN {
     /* Variables */
    --button_radius: 20px;
    --button_color: #f3f2f2;
    --button_outline_color: #040015;
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.Main_content_BTN:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

.Main_content_BTN:active .button_top {
  /* Push the button downwards when pressed */
    transform: translateY(0);
}

.Divider_quote{
text-align:center;
margin:120px 0 60px;
}

.divider-arrow{
width:60px;
margin-top:20px;

opacity:0.8;

animation:bounce 2s infinite;
}

@keyframes bounce{
0%,100%{
transform:translateY(0);
}

50%{
transform:translateY(10px);
}
}

/* Introduction Content  */
.Introduction_content{
    padding-top:80px;;
    text-align:center;
}

.Introduction_card{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background:#f3f2f2;
    padding:30px;
    border-top: 5px solid #040015;
    border-right: 5px solid #040015;
    border-left: 5px solid #040015;
    margin-right: 5%;
    margin-left: 5%;
    border-bottom: none;;
}

.profile_circle
{
    width:150px;
    height:150px;
    border:4px solid #040015;
    border-radius:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-weight:bold;
    margin-top: -100px;
    margin:-140px auto;
    background: #f3f2f2;
}
.profile_circle img{

    width:150px;
    height:150px;
    border:4px solid #040015;
    border-radius:50%;
    display:flex;
    align-items:center;
    font-size:40px;
    font-weight:bold;
}

.intro-label{
    margin-top: 200px;
    font-size:14px;
    letter-spacing:4px;
    font-weight:bold;
    margin-bottom:10px;
}

.Introduction_card h1{
    font-size:42px;
    margin-bottom:25px;
}

.intro-description{
    font-size:18px;
    line-height:1.7;
    max-width:550px;
    margin:auto;
    margin-bottom:35px;
}


/*curios button*/
.btn{
    display: inline-block;
    padding: 10px 18px;
    margin-top: 20px;
    color: #000;
    background: transparent;
    border: 2px solid #000;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s ease;
}

.btn:hover{
    background: #000;
    color: #fff;
    transform: translateY(-2px);
}

.pop-container{
    position: relative;
    height: 0;
    overflow: visible;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.pop-item{
    position: absolute;
    width: 300px; /* Bigger */
    bottom: 0;
    opacity: 0;
    pointer-events: none;
}

/* Cat */
.popAnimation1{
    animation: peekDown 2.5s ease forwards;
}

@keyframes peekDown{
    0%{
        transform: translateY(0);
        opacity:0;
    }

    25%{
        transform: translateY(60px);
        opacity:1;
    }

    75%{
        transform: translateY(60px);
        opacity:1;
    }

    100%{
        transform: translateY(0);
        opacity:0;
    }
}
.popAnimation2{
    animation: peekDownRotate 2.5s ease forwards;
}

@keyframes peekDownRotate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity:0;
    }

    25%{
        transform: translateY(60px) rotate(8deg);
        opacity:1;
    }

    50%{
        transform: translateY(60px) rotate(-8deg);
    }

    75%{
        transform: translateY(60px) rotate(8deg);
        opacity:1;
    }

    100%{
        transform: translateY(0) rotate(0deg);
        opacity:0;
    }
}
.popAnimation3{
    animation: peekDownBounce 2.5s ease forwards;
}

@keyframes peekDownBounce{
    0%{
        transform: translateY(0) scale(0.8);
        opacity:0;
    }

    20%{
        transform: translateY(70px) scale(1.15);
        opacity:1;
    }

    35%{
        transform: translateY(50px) scale(1);
    }

    50%{
        transform: translateY(65px) scale(1.08);
    }

    75%{
        transform: translateY(60px) scale(1);
        opacity:1;
    }

    100%{
        transform: translateY(0) scale(0.8);
        opacity:0;
    }
}
/*divider*/.wave-divider,
.wave-divider2,
.wave-divider3{
    margin:0 5%;
    line-height:0;

    border-left:5px solid #040015;
    border-right:5px solid #040015;
}

.wave-divider{
    background:#f3f2f2;
}

.wave-divider2{
    background:#a855f7;
}

.wave-divider3{
    
    background:  #6012a9;
}

.wave-divider svg,
.wave-divider2 svg,
.wave-divider3 svg{
    display:block;
    width:100%;
    height:120px;
}
/* SKILLS SECTION */
.Skills_content{
    padding: 50px 5%;
    text-align: center;
    background: #a855f7;
    border-right: 5px solid #040015;
    border-left: 5px solid #040015;
    margin-right: 5%;
    margin-left: 5%;
}

.Skills_content h2{
    font-size: 32px;
    color: #040015; 
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.skills_preview{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
    max-width: 900px;
    margin: auto;
}

.skill_card{
    background: #f3f2f2;
    border: 3px solid #040015;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    transition: 0.3s ease;
}

.skill_card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px #921eff;
}

.skill_info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.skill_name,
.skill_percent{
    color: #040015;;
    font-weight: 600;
}

.progress_bg{
    width: 100%;
    height: 8px;
    background: #e5e5e5;
    border-radius: 5px;
    overflow: hidden;
}

.progress_bar{
    height: 100%;
    background: #040015;
    border-radius: 5px;
}

@media (max-width: 992px){
    .skills_preview{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    .skills_preview{
        grid-template-columns: repeat(1, 1fr);
    }
}


/* =========================
    WORKS SECTION
========================= */
.Works_content{
    padding: 30px 5%;
    text-align: center;
    background: #8726e1 ;
    border-right: 5px solid #040015;
    border-left: 5px solid #040015;
    margin-right: 5%;
    margin-left: 5%;
}

.Works_content h2{
    font-size: 32px;
    color: #040015;
    margin-bottom: 20px;
}

.works_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: auto;
}

.work_card{
    background: #f3f2f2;
    border: 3px solid #040015;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    transition: 0.3s ease;
}

.work_card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.work_card h3{
    margin-bottom: 10px;
    color: #040015;
}

.work_card p{
    color: #333;
    line-height: 1.5;
}

/* =========================
    CONTACT SECTION
========================= */
.Contact_content{
    border-right: 5px solid #040015;
    border-left: 5px solid #040015;
    border-bottom: 5px solid #040015;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
    padding: 30px 5%;
    text-align: center;
    background: #6012a9;
}

.Contact_content h2{
    font-size: 32px;
    color: #040015;
    margin-bottom: 10px;
}

.Contact_content p{
    color: #040015;
    margin-bottom: 20px;
}

.contact_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
}

.contact_info p{
    background: #f3f2f2;
    border: 3px solid #040015;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.contact_info p:hover{
    transform: translateX(5px);
}

.footer{
    background: #040015;
    color: #f3f2f2;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

